*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    background: lightcyan;
}

.StartButton,
.InformationBox{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* start quiz button styling */

.StartButton button{
    font-size: 25px;
    font-weight: 500;
    color:red;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.InformationBox{
    width: 540px;
    background: white;
    border-radius: 5px;
}

.InformationBox .InformationTitle{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightpink;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.InformationBox .InformationList{
    padding: 15px 35px;
}

.InformationBox .InformationList .Info{
    margin: 5px 0;
    font-size: 17px;
}

.InformationBox .InformationList .Info span{
    font-weight: 600;
    color: green;
}
